<div
  (cdkDragEnded)="onDragEnd($event)"
  (mousedown)="activate()"
  (nzResizeEnd)="onResize($event)"
  *ngIf="!hide; else hideTpl"
  [@enterAnimation]="true"
  [cdkDragDisabled]="(fullscreen$ | async)!"
  [cdkDragFreeDragPosition]="{x: (x$ | async)!, y: (y$ | async)!}"
  [class.active]="(zIndex$ | async)! === 200"
  [class.fullscreen]="(fullscreen$ | async)!"
  [nzBounds]="'window'"
  [nzDisabled]="(fullscreen$ | async)!"
  [nzMaxHeight]="maxHeight"
  [nzMaxWidth]="maxWidth"
  [nzMinHeight]="minHeight || 200"
  [nzMinWidth]="minWidth || 300"
  [style.height.px]="(height$ | async)!"
  [style.left.px]="0"
  [style.top.px]="0"
  [style.width.px]="(width$ | async)!"
  [style.z-index]="(zIndex$ | async)!"
  cdkDrag
  cdkDragBoundary="cl-desktop"
  class="window"
  nz-resizable
  nzPreview
>
  <nz-resize-handles></nz-resize-handles>
  <div class="window-container">
    <div
      cdkDragHandle
      class="window-header"
    >
      <div class="window-header--title">{{name}}</div>
      <div class="window-header--action">
        <nz-button-group [nzSize]="'small'">
          <button (click)="hideWindow(true)" nz-button nzType="link">
            <span nz-icon nzTheme="outline" nzType="minus"></span>
          </button>
          <button (click)="setFullscreen(false)" *ngIf="(fullscreen$ | async)" nz-button nzType="link">
            <span nz-icon nzTheme="outline" nzType="fullscreen-exit"></span>
          </button>
          <button (click)="setFullscreen(true)" *ngIf="!(fullscreen$ | async)" nz-button nzType="link">
            <span nz-icon nzTheme="outline" nzType="fullscreen"></span>
          </button>
          <button (click)="close()" nz-button nzType="link">
            <span nz-icon nzTheme="outline" nzType="close"></span>
          </button>
        </nz-button-group>
      </div>
    </div>
    <div class="window-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #hideTpl>
  <div
    (mousedown)="activate()"
    [cdkDragFreeDragPosition]="{x: (x$ | async)!, y: (y$ | async)!}"
    [style.z-index]="(zIndex$ | async)!"
    cdkDrag
    cdkDragBoundary="cl-desktop"
    class="hide"
  >
    <div class="hide--title">
      {{name}}
    </div>
    <nz-button-group [nzSize]="'small'">
      <button (click)="hideWindow(false)" nz-button nzType="link">
        <span nz-icon nzTheme="outline" nzType="plus"></span>
      </button>
      <button (click)="close()" nz-button nzType="link">
        <span nz-icon nzTheme="outline" nzType="close"></span>
      </button>
    </nz-button-group>
  </div>
</ng-template>
