.window {
  position: fixed;

  &.fullscreen {
    width: 100% !important;
    height: 100% !important;
    transform: translate3d(0, 0, 0) !important;
  }

  &.active {
    .window-container {
      border: 2px solid rgb(48, 48, 48, .9);

      .window-header--title {
        font-weight: bold;
        color: #fff;
      }
    }
  }
}

.window-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #333;
  transition: .5s;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, .3);
  border: 2px solid rgb(48, 48, 48, .3);

  &:hover {
    border: 2px solid rgb(48, 48, 48, .6);
  }
}

[cdkDragHandle] {
  background: rgba(48, 48, 48, .9);
  color: #fff;
  display: grid;
  height: 36px;
  align-items: center;
  grid-template-columns: minmax(100px, auto) minmax(60px, auto);
  grid-gap: 30px;
  padding: 0 4px;
  box-shadow: 0 4px 4px 1px rgba(48, 48, 48, .9);

  .window-header--title {
    padding-right: 10px;
    overflow: hidden;
    min-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    color: #888;
  }

  .window-header--action {
    justify-self: end;
  }
}

.window-content {
  flex: 1;
  background: #fff;
  height: 100%;
  overflow: hidden;
}

button {
  color: rgba(200, 200, 200, .3);

  &:hover {
    color: rgba(200, 200, 200, .9);
  }
}

.hide {
  position: fixed;
  color: #fff;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, .3);
  border: 2px solid rgb(48, 48, 48, .3);
  background: rgba(48, 48, 48, .9);
  width: 140px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .hide--title {
    flex: 1;
    min-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
